:root {
    --font-family-main: consolas, "Times New Roman", serif;

    // s
    --font-size-s: 12px;
    --font-line-s: 20px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

    // m
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    // l
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // xl
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // Размеры
    --loader-size-m: 80px;
    --loader-size-l: 120px;
    --loader-size-xl: 200px;
    --logo-size-l: 30px;
    --logo-size-xl: 50px;


    // z - Индексы
    --modal-z-index: 1000;
    --overlay-z-index: 100;

    // Цвета
    --red-light: #f00;
    --red-dark: #ce0505;

    //adaptation

    --sidebar-right: 0;
    --sidebar-display: flex;
    --sidebar-transition: 0;
    --sidebar-position: relative;
    --postCard-padding: 30px;
    --addPost-display: flex;
    --viewBtn-display: block;
    --menuBtn-display: none;
    --sidebar-width: 30%;
    --sidebar-bg-color: none;
    --sidebar-border: none;

    --addCom-padding: 30px;
    --addCom-textArea-display: flex;
    --addCom-textBtns-display: column;
    --addCom-btns-width: 60%;
    --addCom-btns-margin: 0;
    --addCom-area-width: 70%;


    @media (max-width: 850px) {
        --sidebar-display: none;
        --sidebar-transition: 0.5s;
        --sidebar-right: -350px;
        --sidebar-position: fixed;
        --addPost-display: block;
        --menuBtn-display: block;
        --sidebar-width: 50%;
        --sidebar-border: 1px var(--secondary-color) solid;
    }

    @media (max-width: 450px) {
        --sidebar-display: none;
        --sidebar-transition: 0.5s;
        --addCom-textArea-display: block;
        --addCom-btns-width: 40%;
        --addCom-btns-margin: 10px;
        --addCom-textBtns-display: none;
        --addCom-padding: 0px;
        --sidebar-width: 100%;
        --font-size-l: 16px;
        --font-line-l: 24px;
        --sidebar-right: -350px;
        --postCard-padding: 10px;
        --viewBtn-display: none;
        --sidebar-position: fixed;
        --addPost-display: block;
        --font-size-m: 12px;
        --sidebar-border: none;
        --font-line-m: 20px;
        --addCom-area-width: 100%;

    }
}
