.addComForm{
    padding-left: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.textArea{
    width: 100%;
    height: 200px;
    resize: none;
    padding: 5px;
    border: 2px solid var(--primary-color);
}

.inputArea{
    width: 75%;
    height: 300px;
}

.btns{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnItem{
    width: 60%;
    margin-bottom: 10px;
}

.imgInput, .fileInput{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.input{
    width: 60%;
}
