.addComForm{
    padding-left: var(--addCom-padding);
    margin-top: 30px;
    display: var(--addCom-textArea-display);
    justify-content: space-between;
}

.textArea{
    width: 100%;
    height: 200px;
    resize: none;
    padding: 5px;
    border: 2px solid var(--primary-color);
}

.inputArea{
    width: var(--addCom-area-width);
    height: 300px;
}

.btns{
    flex-grow: 1;
    display: flex;
    flex-direction: var(--addCom-textBtns-display);
    align-items: center;
}

.btnItem{
    width: var(--addCom-btns-width);
    margin-right: var(--addCom-btns-margin);
    margin-bottom: 10px;
}

.imgInput, .fileInput{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.input{
    width: 60%;
}
