.sidebar{
    display: var(--sidebar-display);
    position: var(--sidebar-position); 
    flex-direction: column;
    align-items: center;
    right: var(--sidebar-right);
    padding: 20px;
    margin-left: 30px;
    height: 100vh;
    transition: var(--sidebar-transition);
    background-color: var(--bg-color);
    border-left: var(--sidebar-border);

}

.sidebar-active{
    transition: var(--sidebar-transition);
    display: flex;
    background-color: var(--bg-color);
    width: var(--sidebar-width);
    z-index: 10;
    right: 0;
}

.settings{
    position: absolute;
    bottom: 30px;
    //right: 20px;
}


.addPostBtn{
    width: 100%;
}

.addPost{
    width: 95.8%;
    margin-top: 10px;
}