.input{
    background: none;
    outline: none;
    color: var(--primary-color);
    padding: 5px 10px;
    border: 1px solid var(--primary-color);
}
.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}