.postCard{
    width: 100%;
    padding: var(--postCard-padding);
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: var(--bg-color);
    border: 2px solid var(--primary-color);
}

.headerPost{
    display: flex;
}

.avatar{
    margin-right: 20px;
}

.btn{
    margin-top: 10px;
    display: flex;
    justify-content: right;
}

.infoSection{
    display: flex;
    flex-grow: 1;
}

.deleteBtn{
    fill: var(--primary-color);
}

.contentPost{
    max-height: 250px;
    overflow: hidden;
}

.imgList{
    margin-top: 10px;
}