.app_dark_theme {
    --bg-color: #202124;
    --inverted-bg-color: #ffffff;
    --primary-color: #ffffff;
    --secondary-color: #b4b4b4;
    --inverted-bg-color: #ffffff;
    --inverted-primary-color: #000000;
    --inverted-secondary-color: #464646;
    --overlay-color: rgba(255, 255, 255, 0.6);


    // skeleton
    --skeleton-color: #969696;
    --skeleton-shadow: #adadad;

    // code
    --code-bg: #1212a1;

    // card
    --card-bg: #0d0d6b;

    // listbox
    --listbox-bg: #0d0d6b;
}
