:root {
    --bg-color: #ffffff;
    --inverted-bg-color: #202124;
    --primary-color: #000000;
    --secondary-color: #858585;
    --inverted-primary-color: #ffffff;
    --inverted-bg-color: #202124;
    --overlay-color: rgba(0 0 0 / 60%);

    // skeleton
    --skeleton-color: #4a4a4a;
    --skeleton-shadow: rgb(65, 65, 65);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;

    // listbox
    --listbox-bg: #d5d5d7;
}
