.loopBtn{
    fill: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


.inputSearch{
    margin-right: 14px;
    width: 87%;
}

.searchField{
    display: flex;
    width: 95%;
}