.logo{
    font-family: 'Silkscreen', cursive;
    font-size: var(--logo-size-xl);
    color: var(--primary-color);
    font-weight: bold;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    margin-right: 10px;

}

.menuBtn{
    fill: var(--primary-color);
    width: 25px;
    height: 25px;
    margin-bottom: 15px;
}
