.postCard, .skeleton{
    margin: 20px 0;
}

.postPage{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 40px;
}

.fullPage{
    width: 100%;
    height: 80vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.loader{
    width: 20%;
}

.loaderWrap{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}