.postCard, .skeleton{
    margin: 20px 0;
}

.mainPage{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 40px;
}

.header{
    width: 100%;
    display: flex;
    fill: var(--primary-color);
    justify-content: space-between;
    margin-bottom: -20px;
}